<ion-content fullscreen class="back">

  <div style="text-align:center" class="back">
      <ion-progress-bar value="{{vida*0.333}}"></ion-progress-bar>
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
          <ion-button color="success" (click)="bater()">
          <FONT size="4" FACE='Comic Sans MS' COLOR="000"><b>Afofar Adversário</b></FONT>
      </ion-button>
      </ion-fab>
    
  </div>
</ion-content>





<!--<ion-content>
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="filme.nome" placeholder="Digite"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Gênero</ion-label>
    <ion-select [(ngModel)]="filme.genero" placeholder="Escolha um Gênero">
      <ion-select-option *ngFor="let genero of generos" [value]="genero">
       {{genero.descricao}}
      </ion-select-option>
    </ion-select>
  </ion-item>

 <div class="ion-text-center">
  <ion-button color="danger" (click)="voltar()">Cancelar</ion-button> 
  <ion-button color="success" (click)="gravar()">Gravar</ion-button>
</div>
</ion-content>
-->